@media screen and (orientation: portrait) {
  .landscape-prompt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 1000;
    /* Ensure it's on top of other content */
    text-align: center;
    font-size: 3.5em;
  }

  /* Hide all other content when in portrait */
  .container {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .landscape-prompt {
    display: none;
  }

  .container {
    display: block;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  /*background-color: white;*/
  overflow: hidden;
  /*background-image: url('https://earth.esa.int/eogateway/documents/20142/3040165/Wheat-fields-subpage.jpg');*/
  background-image: url('../Media/image.jpeg');
  /* background-image: "white"; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.video-container {
  position: relative;
  width: 100%; /* Adjust width as needed */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  pointer-events: none;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#goToInstructions {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  display: none;
}

#goToCanvas {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  display: none; /* Initially hide the spans */
  /* Add any other styling you need, such as background color or opacity */
}

html {
  cursor: none;
}

#circularcursor {
  background-color: transparent;
  border: 1px solid #95A9C9;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

#title {
  margin-bottom: -0.05px
}

/* .fade-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(50%, 0);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
} */

.fade p {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Charm', cursive;
  font-size: 2.5em;
  color: rgb(149, 169, 201);


}

#plunge {
  font-family: 'EB Garamond', serif;
}

.fade .p2 {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  color: #95A9C9;
}

.fade p3 {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Nanum Pen Script', cursive;
  font-size: 4.2em;
  text-align: center;
  color: #545762a7;
  /* background-color: #858f9e; */
  /* text-shadow: -3px -3px 0 rgba(145, 155, 171, 0.502), 3px -3px 0 rgba(100, 118, 139, 0.416), -3px 3px 0 rgba(170, 173, 188, 0.51), 3px 5px 0 rgba(200, 208, 218, 0.898); */

}

.active {
  opacity: 1;
  z-index: 1;
}

#div1 {
  width: 95vh;
  user-select: none;
}

#div2 {
  width: 100vw;
  user-select: none;
}

#div3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 50vh;
  /* margin-left: 20vw; */
  user-select: none;
  /* background-color: #858f9e; */
}

#div3 canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p4 {
  color: #95A9C9;
}

h1 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#video-arrows {
  text-align: center;
  margin-top: 5px;
}

#video-arrows span {
  display: flex;
  margin: 0 5px;
  padding: 5px;
  justify-content: center;
  align-items: flex-end;
  top: 3vh;
  /* Other styles to make them look good and touchable */
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  .fade p {
    font-size: 2em;
    /* Smaller font size for mobile */
  }

  .fade .p2 {
    font-size: 1.2em;
    /* Adjusted font size for smaller screens */
  }

  #div1,
  #div2,
  #div3 {
    /*margin: 5px;*/
    /* Adjust margins for mobile devices */
  }

  #div3 canvas {
    /* Adjust video size or other properties for mobile */
  }
}

/* Styles for tablets and small desktops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fade p {
    font-size: 1.8em;
    /* Slightly larger font size for tablets */
  }

  .fade .p2 {
    font-size: 1.4em;
  }

  #div1,
  #div2,
  #div3 {
    /*margin: 5px;*/
    /* Adjusted margins for tablets */
  }

  #div2 {
    width: 100vw;
  }

  #div3 canvas {
    /* Adjust video size or other properties for tablets */
  }
}

/* Styles for desktops */
@media screen and (min-width: 1025px) {
  .fade p {
    font-size: 2.5em;
    /* Desktop font size */
  }

  .fade .p2 {
    font-size: 1.5em;
  }

  #div1,
  #div2,
  #div3 {
    /*margin: 30px;*/
    /* Larger margins for desktop */
  }

  #div3 canvas {
    /* Adjust video size or other properties for desktop */
  }
}