body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  /*background-color: white;*/
  overflow: hidden;
  /*background-image: url('https://earth.esa.int/eogateway/documents/20142/3040165/Wheat-fields-subpage.jpg');*/
  background-image: url('../Media/image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html {
  cursor: none;
}

#circularcursor {
  background-color: transparent;
  border:1px solid #95A9C9;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

#title {
  margin-bottom: -0.05px
}

/* .fade-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(50%, 0);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
} */

.fade p {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Charm', cursive;
  font-size: 2.5em;
  color: rgb(149, 169, 201);
  

}

#plunge {
  font-family: 'EB Garamond', serif;
}

.fade .p2 {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  color: #95A9C9;
}

.fade p3 {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Nanum Pen Script', cursive;
  font-size: 4.2em;
  text-align: center;
  color: #545762a7;
  /* background-color: #858f9e; */
  /* text-shadow: -3px -3px 0 rgba(145, 155, 171, 0.502), 3px -3px 0 rgba(100, 118, 139, 0.416), -3px 3px 0 rgba(170, 173, 188, 0.51), 3px 5px 0 rgba(200, 208, 218, 0.898); */

}

.active {
  opacity: 1;
  z-index: 1;
}

#div1 {
  width: 95vh;
  user-select: none;
}

#div2 {
  width: 100vw;
  user-select: none;
}

#div3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 50vh;
  /* margin-left: 20vw; */
  user-select: none;
  /* background-color: #858f9e; */
}

#div3 canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p4 {
  color: #95A9C9;
}

h1 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#video-arrows {
  text-align: center;
  margin-top: 5px;
}