.video-container {
    position: relative;
    width: 100%;
    height: 0;
    /*Set the aspect ratio (16:9) based on your video's aspect ratio*/
    /* padding-bottom: 56.25%;  */
  }
  
  #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .playbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust the height as needed */
    background-color: #ccc; /* Set the background color of the playbar container */
  }
  
  .playbar {
    height: 100%;
    width: 0;
    background-color: #95A9C9; /* Set the color of the playbar */
  }